body {
    font-family: Arial, sans-serif;
    background-color: #a9aaaa;
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
    padding-left: 20px; 
    margin: 0;
}

.container {
    background: rgb(216, 167, 167);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
}

select, input, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #6d737a;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover { 
    background-color: #0056b3; 
}

#resultado {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}